<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <!-- we don't use this, but most networking apps will have this set -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for writing crash log -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- for application crash alert -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <application
        android:name="com.example.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  important that the SendLog runs in a new process -->
        <activity
            android:name="com.example.log.SendLog"
            android:process=":report_process"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.example.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
    
</manifest>